@import "tailwindcss";

@font-face {
  font-family: A;
  src: url(/fonts/A.woff2);
}
@font-face {
  font-family: B;
  src: url(/fonts/B.woff2);
}
@font-face {
  font-family: C;
  src: url(/fonts/C.woff2);
}
@font-face {
  font-family: D;
  src: url(/fonts/570bdcfc936308af-s.p.woff2);
}

@font-face {
  font-family: E;
  src: url(/fonts/68c5787607b6894a-s.p.woff2);
}

@font-face {
  font-family: F;
  src: url(/fonts/ef63838ae561375a-s.p.woff2);
}
@font-face {
  font-family: G;
  src: url(/fonts/Lausanne-500.woff2);
}

html,body{
  scroll-behavior: smooth;
  color: white;
}
#page1-in{
  position: relative;
  perspective: 1500px;
}
#section2{
  position: relative;
  perspective: 4000px;
}
#tiltDiv{
  width: fit-content;
}
.rotateText{
  transform-origin: 100% 70%;
}
.shadow{
  text-shadow: 4px 4px 20px rgba(152, 152, 152, 0.616);
}
.head{
  width: fit-content;
}
.text-stroke-white {
  color: rgba(255, 255, 255, 0.415);
  -webkit-text-stroke: 1px rgba(194, 194, 194, 0.414);
}