@import "tailwindcss";

@font-face {
  font-family: A;
  src: url(/fonts/A.woff2);
}
@font-face {
  font-family: B;
  src: url(/fonts/B.woff2);
}
@font-face {
  font-family: C;
  src: url(/fonts/C.woff2);
}
@font-face {
  font-family: D;
  src: url(/fonts/570bdcfc936308af-s.p.woff2);
}

@font-face {
  font-family: E;
  src: url(/fonts/68c5787607b6894a-s.p.woff2);
}

@font-face {
  font-family: F;
  src: url(/fonts/ef63838ae561375a-s.p.woff2);
}

html,body{
  color: white;
}
#page1-in{
  position: relative;
  perspective: 1500px;
}
#section2{
  position: relative;
  perspective: 4000px;
}
#tiltDiv{
  width: fit-content;
}
.rotateText{
  transform-origin: 100% 70%;
}
